<h1>My Heros</h1>
<div id="heroContainer">
  <ul class="heroes">
    <!-- <li *ngFor="let hero1 of heros" (click)="onSelect(hero1)"
      [class.selected]="hero1 === selectedHero"
    >
      <span class="badge">{{hero1.id}}</span> {{hero1.name}}
    </li> -->
    <li *ngFor="let hero of heros">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button (click)="delete(hero)" title="delete hero" class="delete">X</button>
    </li>
  </ul>

  <div>
    <label>
      Hero Name: 
      <input #heroName/>
    </label>
    <button (click) = "add(heroName.value); heroName.value=''">add</button>
  </div>
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>
